- unless defined? small
  - classes = %w(small-block-grid-3 medium-block-grid-5)
- else
  - classes = %w(small-block-grid-10)
%ul{class: classes}
  = render partial: 'artists/artist_grid_item', collection: artists
%br