%h1 Artists

%ul.small-block-grid-3.medium-block-grid-5
  - @artists.each do |artist|
    %li
      %p
        %img{src: artist.image_url}
      %p= link_to artist, artist

%br

= link_to 'New Artist', new_artist_path
