-# Splits the given objects into even slices and wraps them into a carousel
-# @param partial - name of the grid partial to render the slices with

- slice_by = 6 if local_assigns[:slice_by].nil?
- xcount = grid_carousel.size > 1 ? 2 : 1 if local_assigns[:xcount].nil?
- locals = {}
- locals[:xcount] = xcount
- locals[:get_image] = local_assigns[:get_image]

.grid-carousel
  - grid_carousel.each_slice(slice_by) do |slice|
    %div
      = render partial: partial, object: slice, locals: locals