- title = get_title.call model_grid_item

- if !model_grid_item.has_avatar? && model_grid_item.image_urls(:small).empty?
  = image_tag(model_grid_item.image_url(:small), alt: title, title: title)
- else
  - if model_grid_item.has_avatar?
    = image_tag(model_grid_item.image_url(:small), alt: title, title: title, class: 'hide-on-hover')

  - image_urls = model_grid_item.image_urls(:small)
  .avatar-carousel
    - image_urls.each do |image_url|
      = image_tag(image_url, alt: title, title: title)
