- title = get_title.call model_grid_item

%div.hover.with-stick
  - unless get_subtitle.nil?
    - subtitle = get_subtitle.call model_grid_item
    - unless subtitle.blank?
      %p.titular-text.stick-to-top.inverted.smaller= subtitle
  %p.nospace
    - image_url = get_image.call model_grid_item
    - if !image_url.nil?
      = image_tag(image_url, alt: title, title: title)
  %p.titular-text.stick-to-bottom.nospace
    = title