- title = get_title.call model_grid_item

%div.hover.with-stick
  - unless get_subtitle.nil?
    - subtitle = get_subtitle.call model_grid_item
    - unless subtitle.blank?
      %p.titular-text.stick-to-top.inverted.smaller= subtitle
  %p.nospace
    = render partial: avatar_partial, locals: local_assigns
  %p.titular-text.stick-to-bottom.nospace
    = title