- no_content = more_content
.content__description.padded.margin-bottom
  - if no_content
    %p
      There is nothing more about this release yet.
    %p
      In the meantime,
      %strong check out these upcoming events!
  - else
    %p
      Looking for more? Have you seen what events we're preparing for you?
= render partial: 'events/events', object: @upcoming_events
