- no_content = more_content
.content__description.padded.margin-bottom
  - if no_content
    %p
      There is nothing more yet.
    %p
      In the meantime,
      %strong check out these upcoming events!
  - else
    %p
      = t('more_text', scope: 'common')
= render partial: 'events/events', object: @upcoming_events
