- no_content = more_content
.content__description.padded.margin-bottom
  - if no_content
    %p
      = t 'common.nothing_more'
    %p
      = raw t 'common.nothing_more_cta'
  - else
    %p
      = t 'common.more_text'
= render partial: 'events/events', object: @upcoming_events
