-# Event artists and lineup overview grouped in tabs

%ul.tabs{ 'data-tab' => true }
  %li.event__tab-title.tab-title.active
    = link_to t('artists', scope: 'event'), '#artists'
  %li.event__tab-title.tab-title
    = link_to t('lineup', scope: 'event'), '#lineup'

.tabs-content
  .content.active#artists
    = render 'artists'
  .content#lineup
    = render 'lineup'