-# Artist overview for event

- unless @event.artists.empty?
  = render partial: 'artists/artist_grid', object: @event.headliners, locals: {xcount: 1}
  = render partial: 'artists/artist_grid', object: @event.non_headliners, locals: {xcount: 2}