-# Event artists and lineup overview grouped in tabs

%ul.tabs{ 'data-tab' => true }
  %li.event__tab-title.tab-title
    = link_to 'Artists', '#artists'
  %li.event__tab-title.tab-title.active
    = link_to 'Lineup', '#lineup'

.tabs-content
  .content#artists
    = render 'artists'
  .content.active#lineup
    = render 'lineup'