- if lineup_item.is_headliner?
  %li.event__lineup__item--headliner
    = render partial: 'lineup_item_content', object: lineup_item
- else
  %li.event__lineup__item
    = render partial: 'lineup_item_content', object: lineup_item
