.row.text-bigger
  .small-3.columns
    - unless lineup_item_content.is_b2b?
      = raw lineup_from_to lineup_item_content
  .small-9.columns.text-right
    - if lineup_item_content.is_b2b?
      %span.event__lineup__item__b2b
    = link_to lineup_item_content.artist