-# Time lineup overview for event detail

- @event.stages.each do |stage|
  %h2= stage
  %ul.block-list
    - @event.stage_lineup(stage).each do |performance|
      - if performance.is_headliner?
        %li.event__lineup__item--headliner
          = render partial: 'lineup_item', object: performance
      - else
        %li.event__lineup__item
          = render partial: 'lineup_item', object: performance

-#- @event.stages.each do |stage|
-#  %h3= stage
-#  %table
-#    - @event.stage_lineup(stage).each do |performance|
-#      %tr
-#        %td= lineup_from_to(performance.date_start, performance.date_end)
-#        %td
-#          - if(performance.is_headliner?)
-#            %b= performance.artist
-#          - else
-#            = performance.artist