-# Time lineup overview for event detail

- stages = @event.stages.to_a
- stages << nil
- stages.each do |stage|
  - stage_lineup = @event.stage_lineup(stage)
  - unless stage_lineup.empty?
    %h2= stage
    %ul.block-list
      - @event.stage_lineup(stage).each do |performance|
        - unless performance.is_b2b?
          = render partial: 'lineup_item', object: performance
          - performance.b2bs.each do |b2b_performance|
            = render partial: 'lineup_item', object: b2b_performance