= render partial: 'elements/index_yields', object: 'event'

- if user_admin?
  = link_to 'New', new_event_path, class: %w(button width-fill)


%h1.wow.fadeIn Upcoming
= render partial: 'events', object: @upcoming_events, locals: { xcount: 1 }

%h1.wow.fadeIn Past
.infinite-container
  .infinite-item

= render partial: 'elements/more_link', object: year_events_path