.content__description.padded
  %p
    Zajímá tě spolupráci s námi nebo se chceš jen na něco zeptat?
  %p
    Napiš nám na naší facebook
    = link_to 'fanpage.', fb_path
  %p
    Nebo pošli mail na
    = link_to 'info@bassdrop.cz', 'mailto:info@bassdrop.cz'