- content_for :title do
  Contact

.content__description.padded
  %p
    Are you interested in co-operating with us, or just have something you want to ask about?
  %p
    Either message us on facebook at our
    = link_to 'fanpage.', fb_path
  %p
    Or write us at
    = link_to 'info@bassdrop.cz', 'mailto:info@bassdrop.cz'