/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "compass";

@import "compass/css3/animation";

@mixin simple-transition {
  @include transition(all, 0.5s, ease-in-out);
}

.title-look {
  text-transform: uppercase;
  font-weight: bold;
}

h1,
h2,
h3 {
  text-align: center;
  @extend .title-look;
}

div {
  &.grid_item {
    text-align: center;

    .contents {
      color: black;
      opacity: 1;
      text-align: center;
      display: inline-block;
      @include simple-transition;
      width: 100%;
    }

    &:hover {
      opacity: 0.7;
      @include simple-transition;
    }

    img {
      width: 100%;
    }

    p {
      background: white;
      margin: 0.5em 0;
    }

    .text {
      @extend .title-look;

      font-size: 1.5rem;
      line-height: 1.5rem;
      padding: 0.5em 0.2em;
      font-weight: bold;
    }
  }
}

.border-top {
  border-top: solid black 0.5rem;
}

.border-bottom {
  border-bottom: solid black 0.5rem;
}