%h1= t 'video', scope: 'release.titles.sets'
%p= render partial: 'release_grid', object: @sets_video
%h1= t 'audio', scope: 'release.titles.sets'
%p= render partial: 'release_grid', object: @sets_audio