- available = !item.blank?

- if available
  = link_to open_playlist_path(playlist, item), remote: true do
    .small-6.columns.playlist__controls__control
      = text
- else
  .small-6.columns.playlist__controls__control--disabled
    = text