= embed playlist_item.medium, @autoplay
- if show_release
  - release = playlist_item.medium.release
  - unless release.blank?
    .playlist__credit
      = link_to release do
        = t('playlist.more_info', title: release.title)
