%ul.side-nav
  %li= link_to (t 'menu.footer.about'), page_path(id: 'about'), alt: (t 'about.description')
  %li= link_to (t 'menu.footer.team'), team_path, alt: (t 'artist.team.description')
  %li= link_to (t 'menu.footer.contact'), page_path(id: 'contact'), alt: (t 'contact.description')
